*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    display: flex;
    padding: 0px 10px;
    margin: 0px auto;
    justify-content: space-between;
}

.left-side{
    flex: 30%;
    background-color: red;
}

.right-side{
    flex: 65%;
    background-color: yellow;
}   